.BoxesOfHappiness {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    max-width: 90%;
    max-height: 100%;
    border: 3px solid #03045e;
    border-radius: 20px;
    overflow: hidden;
}